/**
 * alg-wc-checkout-files-upload-ajax.css
 *
 * @version 1.3.0
 * @since   1.3.0
 * @author  Algoritmika Ltd.
 */

[id^=alg-wc-checkout-files-upload-progress-wrapper-] {
	border: 1px solid #0099CC;
	padding: 1px;
	position: relative;
	height: 30px;
	border-radius: 3px;
	text-align: left;
	background: #fff;
	box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
	margin-bottom: 10px;
}
[id^=alg-wc-checkout-files-upload-progress-wrapper-] .alg-wc-checkout-files-upload-progress-bar{
	height: 100%;
	border-radius: 3px;
	background-color: #f39ac7;
	width: 0;
	box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
[id^=alg-wc-checkout-files-upload-progress-wrapper-] .alg-wc-checkout-files-upload-progress-status{
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000000;
}
